.message-links {
  padding: 8px;
  flex: 0 1 auto;
  max-width: 75vw;
  overflow: auto;

  &__link {
    stroke: #aaaaaa;
    &:hover {
      stroke: #666666;
    }
  }

  &__label {
    z-index: 1000;
  }
}