.message-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  overflow: auto;
  flex: 0 1 auto;
  max-width: 75vw;
  scrollbar-width: none;
  
  &__link {
    padding: 8px;
    flex: 0 0 auto;
    margin-right: 2px;
  }
  
  &__link-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }
  
  &__link-body {
    align-items: flex-start;
    max-height: 50vh;
    padding-right: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  &__link-node {
    margin-bottom: 4px;
  }
}