.message-links {
  padding: 8px;
  flex: 0 1 auto;
  max-width: 75vw;
  overflow: auto;

  &__link {
    &__label {
      z-index: 1000;
    }

    path {
      stroke: #aaaaaa;
      z-index: 100;
      opacity: 0.5;
    }

    & &__label {
      opacity: 0;
    }

    &:hover {
      path {
        stroke: #666666;
      } 
    }

    &:hover &__label {
      opacity: 1;
    }
  }

  &__label {
    z-index: 1000;
  }
}