.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.app__logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  margin: 2.2vw;
  height: 10vw;
  display: fixed;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
