.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #282c34;
  min-height: 92vh;
  padding: 4vh;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    flex: 0 1 auto;
    max-width: 15vw;
  }
  
  &__logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    margin: 2.2vw;
    width: 15vw;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
