.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #282c34;
  min-height: 92vh;
  padding: 4vh;

  &__header {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    flex: 0 0 auto;
  }
  
  &__logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    margin: 2.2vw;
    width: 192px;
    display: fixed;
    float: right;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
